h1 {
    color: white;
    background-color:#000080;
    padding: 20px;
    width: auto;
}

.search-history {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

#container{
    display: flex;
}

.main-weather-show {
    border: solid 2px;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.five-day-forecast-container {
    display: flex;

}

.five-day-header{
    margin-left: 15px;
}

.fiveDayWeather {
    background-color: #000080;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 5px;
    margin: 0 15px;
}

#right-column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.history-button {
    margin: 4px;
    color: black;
}

.search{
    margin-bottom: 20px;
}

.five-day-image{
    width: 5vw;
}

@media screen and (max-width:980px) {
}

@media screen and (max-width:768px) {
}

@media screen and (max-width:400px) {

}
