h1 {
    color: white;
    background-color: blue;
    padding: 20px;
}

.ul {
    list-style-type: none;
}

.li {
    background-color: gray;
    display: inline-block;
    padding: 2px 10px;
}

.main-weather {
    border: solid 2px;
    padding: 5px;
    margin: 5px;
}
